<div style="height: 300px; background: red;"></div>

{{#basic-dropdown as |dd|}}

    {{#dd.Trigger}}
        Open dropdown
    {{/dd.Trigger}}

    {{#dd.Content}}
        Dropdown Content
    {{/dd.Content}}

{{/basic-dropdown}}

<div style="height: 2000px; background: blue;"></div>